<ion-view title="Events">
  <ion-content padding="true" class="has-header">
    <p>
    </p>
    <p>
      <b> May 9, 2017</b>
    </p>
    <p>Dr. Babb Presents
      <i>"Basic Web Application"</i>
    </p>
    <p>Karen Paullet Presnts
      <i> "Data Mining Tools"</i>
    </p>
    <hr>

    <p>
      <b> May 10, 2017</b>
    </p>
    <p>Dr. Humphreys Presents
      <i>"Making a fortune Creating WebSites"</i>
    </p>
    <p>Biswadip Ghosh Presnts
      <i>"Information Systems Applied Research"</i>
    </p>
    <hr>
    <b></b>
    <p>
      <b> May 11, 2017 </b>
    </p>
    <p>Dr. Bakir Presnts
      <i>"Customer Relations"</i>
    </p>
    <p>Muhammed Miah Presents
      <i>"Abstracts and Works in Progress (WIP)</i>
    </p>
    <hr>


    <p></p>
  </ion-content>
</ion-view>