<ion-view title="Welcome to ISCAP" id="page1">
  <ion-content padding="true" style="background: url(img/18D6O5DARqKVS62bO0FA_austin.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="width: 300px; height: 36px;"></div>
    <div class="image">
      <a style="display:block;" ui-sref="iSCAP.hotelInformation">
        <img src="img/bTUztqgTXKYGTiMjLrkC_brand-austin.jpg" style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <div class="spacer" style="width: 300px; height: 224.946px;"></div>
    <h1 id="welcomeToISCAP-heading1" style="color:#D3D5D6;text-align:center;">Iscap 2017</h1>
  </ion-content>
</ion-view>